<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Código de verificación</title>
</head>
<body style="max-width: 700px;">
    <img src="https://i.pinimg.com/originals/ba/34/d4/ba34d4023f8263c2085e5d60706e7900.png"
        style="display: block; margin: auto; max-width: 700px;">
    <div style="width: 100%; text-align: center;">
        <h3>¡Ya casi hemos terminado!</h3>
        <p>Utiliza el siguiente código para verificar tu cuenta</p>
    </div>
    <div style="width: 100%; background: #a300ff; text-align: center; color: white; padding: 10px 0;">
        <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
            user.getVerificationToken().getVerificationNumber()</h3>
    </div>
</body>
</html>